*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

@font-face {
    font-family: tantoFaz;
    src: url('../font3.ttf');
}

@font-face {
    font-family: tantofaz2;
    src: url('../font1gab.otf');
}

body{
    background-image: url(../imagens/texturaOpacity.jpg);
    opacity: 01;
        
}

/* #voceprecisa{
    text-align: center;
    font-family: tantofaz;
    font-size: 2rem;
    color: #8d8f91 ;
    margin-bottom: -15px;
    animation: aparecendo 6s;
} */

#scrol{
    margin-top: 10px;
    text-align: center;
}

#scrol h5{
    font-family: tantofaz2;
    color: white;
    font-size: 25px;
    letter-spacing: 5px;
    display: inline;
    margin-left: 10px;
    margin-right: 2px;
    margin-top: 5px;
}

.setaImg{
    margin-top: -7px;
}

#divImgLogo{
    height: 160px;
    box-shadow: -35px 0.01px 1px #323435;
}

#imgLogo{
    display: block;
    margin: auto;
    margin-top: -35px;
}

#divTextPersonal{
    background-color: red;
}

#transforme{
    font-size: 4rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 5px;
    animation: passando 3s infinite forwards alternate ;
    color: white;
    margin-top: 30%;
}

.transformeIndo{
    display: none;
}

@keyframes passando{
    from{
        opacity: 0.5;
        text-shadow: 1px 15px 5px black;
    }
    to{
        opacity: 1;
        text-shadow: 1px 5px 5px rgb(255, 0, 0);
        
    }
}

#divImgError{
    height: 300px;
    width: 300px;
    background-image: url(../imagens/newnofound.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
    animation: aparecendo 8s;
}

#divMensagem{
    margin-top: 10px;
}

#mensagemInicial{
    font-size: 2.7rem;
    margin-top: 10px;
    margin-left: 8px;
    text-shadow: 5px 2px 4px orangered;
    color: white;
    font-family: tantofaz;
    letter-spacing: 1.5px;
    animation: aparecendo 5s;
}


#divHiper{
    padding-top: 20px;
    color: #fd6d01;
}

#divHiper h4{
    font-size: 1.8rem;
    font-weight: bolder;
    font-family: tantofaz2;
    margin-top: 10px;
}

#paragrafoSupere{
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    font-family: tantoFaz;
}

#butao{
    background-color: #fd6d01;
    color: white;
    width: 80%;
    margin: auto;
    animation: rodandoButao 3s infinite backwards alternate;
    font-size: 1.3rem;
/*     margin-bottom: 30px; */
    
}

@keyframes rodandoButao{
    0%{
        border: 2px solid red;
    }
    50%{
        border: 2px solid #fd6d01;
    }
    100%{
        border: 2px solid rgb(255, 0, 0);
    }
}

#resultado{
    /* box-shadow: -35px 2px 3px #fd6d01; */
    padding-bottom: 10px;
}

#divImagens{
    /* padding-top: 30px; */
    padding-top: 15px;
    color: #fd6d01;
    margin-bottom: 15px;
}

#divImagens h4{
    font-size: 1.8rem;
    font-weight: bolder;
    font-family: tantofaz2;
}

#card1{
    border: 1px solid #fd6d01;
    margin-bottom: 10px;
}

#butaoCard{
    background-color: #fd6d01;
    color: white;
    width: 90%;
    display: block;
    margin: auto;
    font-size: 1.3rem;
}

#aparecerPrimeiro{
    height: 100vh;
}

.aparecendo{
    animation: aparecerTudo 2s ;
}

@keyframes aparecerTudo{
    from{
        opacity: 0;
        display: none;
    }50%{
        display: block;
        opacity: 0.5;
    }100%{
        display: block;
        opacity: 1;
    }
}

#imgbtn{
    float: left;
}

#imgbtnn{
    float: left;
}

.linkwpp{
    color: white;
}

#aparecerDepois{
    display: block;
}

#online{
    margin-top: 40px;
    box-shadow: 155px -2px 5px #fd6d01;
}

#imgOn{
    margin-top: 5px;
    float: right;
}

#consultoria{
    color: white;
    font-family: tantofaz2;
    margin-top: 40px;
    line-height: 45px;
    font-size: 2rem;
    color:#fd6d01 ;
    margin-left: 10px;
    text-shadow: 1px 2px 3px #fd6d01;
}

#consultoria span{
    color: white;
    font-family: tantofaz;
    font-size: 2.4rem;
    line-height: 50px;

}


#voce{
    animation: vindoLado 3s;
}
@keyframes aparecendo{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes vindoLado{
    from{
        margin-left: -400px;
    }to{
        margin-right: 0;
    }
}

#butaoCardFooter{
    background-color:#fd6d01 ;
    width: 100%;
}

#imggabipc{
    display: block;
    margin: auto;
    margin-top: 10px;
    border-radius: 10% 20%;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.404);
}

#cardOn{
    margin-bottom: 10px;
}

@media(max-width:376px){
    #consultoria{
        color: white;
        font-family: tantofaz2;
        font-size: 1.4rem;
        color:#fd6d01 ;
        text-shadow: 1px 2px 3px #fd6d01;
    }
    
    #consultoria span{
        color: white;
        font-family: tantofaz;
        font-size: 1.6rem;
    
    }

    #mensagemInicial{
        font-size: 2.6rem;
        margin-left: -5px;
        margin-top: 20px;
    }

    #divHiper h4{
        font-size: 1.5rem;
    }

    #divImagens h4{
        font-size: 1.5rem;
    }

    .linkwpp{
        font-size: 1.2rem;
        text-align: center;
    }

    #divImgError{
        height: 300px;
        width: 300px;
        background-image: url(../imagens/newnofound.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 10px;
        animation: aparecendo 8s;
    }

    #voceprecisa{
        text-align: center;
        font-family: tantofaz;
        color: #fd6d01 ;
        margin-bottom: -15px;
        animation: aparecendo 8s;
    }

    #voceprecisa h4{
        font-size: 2.5rem;
    }
}

@media(min-width:377px) and (max-width:398px){
    #consultoria{
        color: white;
        font-family: tantofaz2;
        font-size: 1.6rem;
        color:#fd6d01;
        margin-left: 10px;
        text-shadow: 1px 2px 3px #fd6d01;
    }
    
    #consultoria span{
        color: white;
        font-family: tantofaz;
        font-size: 1.8rem;
    }

    #mensagemInicial{
        font-size: 2.6rem;
        margin-left: -5px;
        margin-top: 20px;
    }

    #butaoCard a{
        font-size:1.2rem ;
    }

    #voceprecisa{
        text-align: center;
        font-family: tantofaz2;
        font-size: 2rem;
        color: #8d8f91 ;
        margin-bottom: -15px;
        animation: aparecendo 6s;
    }

    #divImgError{
        height: 350px;
        width: 350px;
        background-image: url(../imagens/newnofound.png);
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 10px;
        animation: aparecendo 6s;
    }

    #divHiper h4{
        font-size: 1.5rem;
        text-shadow: 1px 1px 5px orangered;
    }

    #divImagens h4{
        font-size: 1.5rem;
        text-shadow: 1px 1px 5px orangered;
    }

    #voceprecisa{
        text-align: center;
        font-family: tantofaz;
        color: #fd6d01 ;
        margin-bottom: -15px;
        animation: aparecendo 8s;
    }

    #voceprecisa h4{
        font-size: 2.5rem;
    }
}

.efe{
    opacity: 0;
}

.efect{
    opacity: 1;
    animation: aparecendo 1s;
}

@keyframes efectScroll{
    from{
        margin-left: -100%;
    }
    to{
        margin-left: 0;
    }
}

/* @keyframes sumindoVoce{
    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    50%{
        opacity: 0.5;
    }
    75%{
        opacity: 0.3;
    }
    100%{
        opacity: 0;
        display: none;
    }
}

.sumindo{
    animation: sumindoVoce 6s forwards;
} */

#voceprecisa{
    text-align: center;
    font-family: tantofaz;
    color: #fd6d01 ;
    margin-bottom: -15px;
    animation: aparecendo 8s;
}

#voceprecisa h4{
    font-size: 2.5rem;
}